html, body {
	height: 100%;
	width: 100%;
	font-family: 'Cormorant Unicase', serif;
	font-size: 20px;
	color: #BBBBBB;
	-ms-interpolation-mode: nearest-neighbor;
	image-rendering: pixelated;
}

img {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#sky, #ground {
	width: 5000px;
}

#sky {
	position: absolute;
	background-color: #8888FF;
	top: 0;
	left: 0;
	height: 65%;
}

#ground {
	position: absolute;
	background-color: #117711;
	top: 65%;
	left: 0%;
	height: 35%;
}

footer {
	background-color: black;
	width: 100%;
	height: 50px;
	position: fixed;
	bottom: 0;
	left: 0;
	overflow: visible;
}

header {
	background-color: black;
	width: 100%;
	height: 22px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99;
}

button {
	position: absolute;
	bottom: 15%;
	width: 64px;
	height: 64px;
	border: #000000 solid 3px;
	border-radius: 10px;
	outline: none;
	color: #BBBBBB;
	background-color: rgba(99, 99, 99, 0.726);
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

button:hover {
	filter: brightness(1.15);
}

button:active {
	filter: brightness(.85);
}

#goldButton {
	left: 1%;
	background-color: #FFD65900;
	background-image: url("../img/gold.png");
	background-size: cover;
	border: none;
}

#saveButton {
	right: 1%;
	background-color: #22222200;
	background-image: url("../img/save.png");
	background-size: cover;
	border: none;
}

#goldAmount {
	position: absolute;
	font-size: 25px;
	left: 90px;
	bottom: calc(50% - 12px);
	margin: 0;
}

.newBuilding {
	position: absolute;
	bottom: 20%;
	height: 250%;
	border: 5px solid gray;
	outline: none;
	background-color: #99999900;
	display: none;
}

.castle {
	position: absolute;
	bottom: 20%;
	height: 250%;
	border: none;
	outline: none;
	background-color: #99999900;
}

.settlement {
	position: absolute;
	bottom: 20%;
	height: 250%;
	border: none;
	outline: none;
	background-color: #99999900;
	display: none;
}

.dungeon {
	position: absolute;
	bottom: 20%;
	height: 250%;
	border: none;
	outline: none;
	background-color: #99999900;
	display: none;
}

.buildingProfilePic {
	width: 100%;
	position: absolute;
	bottom: 0;
}

.plus {
	width: 32px;
	position: absolute;
	bottom: calc(50% - 16px);
	left: calc(50% - 16px);
}

.right {
	float: right;
}

.dialogueBox {
	position: fixed;
	top: 40px;
	left: 40px;
	width: 750px;
	height: 250px;
	background-color: #444444c2;
	border: #000000 solid 3px;
	border-radius: 10px;
	display: none;
	z-index: 99;
}

.dialoguePic {
	display: inline;
	float: left;
	margin: 10px;
	width: 230px;
	height: 230px;
}

.dialogueName {
	font-size: 30px;
}

.dialogue {
	display: inline;
}

.exitButton {
	color: rgb(199, 0, 0);
	width: 32px;
	height: 32px;
	position: absolute;
	top: 10px;
	right: 10px;
	font-weight: bold;
}

.buildingButton {
	position: absolute;
	width: 75%;
	bottom: 0;
	left: 12.5%;
}