* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Cormorant Unicase', serif;
	font-size: 20px;
	color: #BBBBBB;
	-ms-interpolation-mode: nearest-neighbor;
	image-rendering: pixelated;
}

html, body {
	height: 100%;
	width: 100%;
}

h1 {
	display: inline;
	font-size: 20px;
}

h3 {
	display: block;
	font-size: 20px;
}

img {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#sky, #ground {
	width: 5000px;
}

#sky {
	position: absolute;
	background-color: #b7b7ff;
	top: 0;
	left: 0;
	height: 65%;
}

#ground {
	position: absolute;
	background-color: #596859;
	top: 65%;
	left: 0%;
	height: 35%;
}

footer {
	background-color: black;
	width: 100%;
	height: 50px;
	position: fixed;
	bottom: 0;
	left: 0;
	overflow: visible;
}

header {
	background-color: black;
	width: 100%;
	height: 22px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99;
}

button {
	bottom: 15%;
	width: 64px;
	height: 64px;
	border: #000000 solid 3px;
	border-radius: 10px;
	outline: none;
	color: #BBBBBB;
	background-color: rgba(99, 99, 99, 0.726);
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

button:hover {
	filter: brightness(1.15);
}

button:active {
	filter: brightness(.85);
}

.gold-button {
	position: absolute;
	left: 1%;
	background-color: #FFD65900;
	background-image: url("../img/gold.png");
	background-size: cover;
	border: none;
}

.save-button {
	position: absolute;
	right: 1%;
	background-color: #22222200;
	background-image: url("../img/save.png");
	background-size: cover;
	border: none;
}

.gold-amount {
	position: absolute;
	font-size: 25px;
	left: 90px;
	bottom: calc(50% - 12px);
	margin: 0;
}

.new-building {
	position: absolute;
	bottom: 20%;
	height: 250%;
	border: 5px solid gray;
	outline: none;
	background-color: #99999900;
	display: none;
}

.castle {
	position: absolute;
	bottom: 20%;
	height: 250%;
	border: none;
	outline: none;
	background-color: #99999900;
}

.settlement {
	position: absolute;
	bottom: 20%;
	height: 250%;
	border: none;
	outline: none;
	background-color: #99999900;
	display: none;
}

.dungeon {
	position: absolute;
	bottom: 20%;
	height: 250%;
	border: none;
	outline: none;
	background-color: #99999900;
	display: none;
}

.building-profile-pic {
	width: 100%;
	position: absolute;
	bottom: 0;
}

.plus {
	width: 32px;
	position: absolute;
	bottom: calc(50% - 16px);
	left: calc(50% - 16px);
}

.right {
	float: right;
}

.dialogue-box {
	position: fixed;
	top: 40px;
	left: 12.5%;
	width: 75%;
	min-width: 500px;
	height: 250px;
	background-color: #3d3d3dc2;
	border: #000000 solid 3px;
	border-radius: 10px;
	display: none;
	z-index: 99;
	padding: 10px;
}

.dialogue-pic {
	display: inline;
	float: left;
	width: 220px;
	height: 220px;
}

.dialogue-name {
	font-size: 30px;
	margin-right: 50px;
}

.dialogue {
	display: inline;
	margin-right: 50px;
}

.exit-button {
	position: absolute;
	color: rgba(199, 0, 0, 0.842);
	width: 32px;
	height: 32px;
	position: absolute;
	top: 10px;
	right: 10px;
	font-weight: bold;
}

.next-button {
	position: absolute;
	color: rgba(146, 146, 146, 0.815);
	width: 75px;
	height: 32px;
	position: absolute;
	bottom: 10px;
	right: 10px;
	font-weight: bold;
}

.prev-button {
	position: absolute;
	color: rgba(146, 146, 146, 0.801);
	width: 75px;
	height: 32px;
	position: absolute;
	bottom: 10px;
	right: 100px;
	font-weight: bold;
}

.building-button {
	position: absolute;
	width: 75%;
	bottom: 0;
	left: 12.5%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.popup {
	position: relative;
	bottom: 50px;
	left: 50px;
	width: 25px;
	height: 25px;
	background-color: #3d3d3dc2;
	border: #000000 solid 3px;
	border-radius: 10px;
	display: none;
	align-items: center;
    justify-content: center;
	z-index: 99;
	padding: 5px;
}

.popup-icon {
	height: 32px;
	min-width: 32px;
	display: inline;
	float: left;
}

.popup-title {
	font-size: 20px;
	margin-left: 10px;
}

.popup-info {
	font-size: 15px;
	display: block;
}

.part-grid {
	background-color: #00000000;
	display: grid;
	grid-gap: 20px;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr 1fr 1fr;
	position: absolute;
	top: 60%;
	left: 12.5%;
	width: 75%;
	height: 30%;
}

.building-part {
	background-color: #00000025;
	width: 100%;
	height: 100%;
	border: #000000 solid 3px;
	border-radius: 10px;
	text-align: center;
}

.buy-grid {
	display: grid;
	grid-gap: 0;
	grid-template-rows: 1fr;
	grid-template-columns: 2fr 1fr;
	width: 100%;
	height: 15%;
}

.buy-button {
	width: 100%;
	height: 100%;
	border-radius: 0;
}

.sell-button {
	width: 100%;
	height: 100%;
	border-radius: 0;
}